
        .logo {}

        .logo img {
            width: 164px;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-family: "Segoe UI";
        }

        .right ul {
            display: flex;
            gap: 34px;
        }

        .right ul li {
            list-style: none;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .right ul li span {
            padding: 0 5px;
        }

        .first {
            display: flex;
            /* background-color: aquamarine; */
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 23px;
            margin: 70px;
            font-family: sans-serif;
        }

        .first span {
            font-size: 40px;
        }

        .section span {
            width: 82px;
            margin: 0 23px;
        }

        .first p {
            font-size: 23px;
            width: 44vw;
            text-align: center;
        }

        .btn{
            background-color: #ffd741;
            padding: 16px;
            color: black;
            border: none;
            border-radius: 6px;
            font-weight: 700;
            margin: 12px 0;
            cursor: pointer;
        }
        .btn a {
            text-decoration: none;
            color: white;
        }
        .green{
            background-color: #5cb85c;
            border-radius: 8px;
            color: white;
        }

        .blue{
            background-color: rgb(44, 223, 255);
            border-radius: 8px;
            color: white;
        }
        .second{
            max-width: 50vw;
            margin: auto;
            /* display: flex;
            flex-direction: column; */
            /* background-color: aquamarine; */
            /* align-items: center; */
        }
        .flex{
            
        }
        .small{
            font-size: 12px;
        }
        .item{
            padding: 23px;
            background: #f9f9f9;
            border-radius: 12px;
            font-size: 20px;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .item-lang{
            font-weight: 700;
            text-align: center;
            padding-bottom: 36px;
        }
        .grid{
            display: grid;
            grid-template-columns: 1fr,1fr,1fr;
            gap: 12px;
            justify-content: center;
        }
        .download :nth-child(2){
            font-size: 23px;
        }
        .download img{
            padding: 0px 12px;
        }
        .download{
            display: flex;
            align-items: center;
            gap: 10px;

        }
    @media screen and (max-width:1145px) {
        .grid{
            background-color: red;
            display: grid;
            grid-template-columns: 1fr,1fr,1fr;
            gap: 12px;
        }
    }